* { margin: 0;
    padding: 10;
    box-sizing: border-box;
}


body {
    background-color: #e67e22;
}

#steak{
    background-image: url("../img/steak.jpg");
    background-size: cover;
    
}

a {
    width: 200px;
    height: 150px;
    margin: 20px;
    display: inline-block;
    text-decoration: none;
    justify-content: center;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: space-around;
    align-items: center;
}

section {

}

nav {
    display:flex;
    height: 20vh;
    width: auto;
}

#steak {
    height: auto;
    width: auto;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    justify-self: stretch;
}

a:hover {
    text-decoration: none;
    background: rgb(160, 167, 221);
}

header {
    text-align: center;
    font-size: 50px;
    height: 15vh;
    background-color: rebeccapurple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


footer {
    background-color: honeydew;
}

.food{
    display: block;
    width: 100%;
    height: auto;
    align-items: center;
}


